body{
margin: 0;
padding-top: 800px;
}
img{
width: 200px;
    margin-top: 150px;
margin-bottom: 50px;
border-radius: 50%;    
}
.line{ 
height: 6px;
width:80px;
margin:8px auto; 
    background-color: black;
    
}
#welcome{
position: absolute;
    height: 800px;
    color:white;
display: table;
    width:100%;
    height: 100%;
background: linear-gradient(#5e65db 0%,#eb65ba 100%);
opacity:0.8;
  z-index:9;
  left:0;
  right:0;
  top:0;
  bottom:0;
    
}
.menu{
  list-style:none;
  z-index:10;
  position:fixed;
  top:0px;
  cursor:pointer;
    width:100%;
    background:white;
    margin-top: 0px;
}
.link{
    display: inline;
  padding-right:25px;
  padding-left:30px;
  font-size:20px;
font-family: fantasy;
}
.link:hover{
  text-decoration: underline;
    font-size: 25px;
}
a{
    text-decoration: none;
    color:crimson;
text-shadow: 2px 2px gains boro;
}
.news{
    font-size: 20px;
}
.news:hover{
    color: fuchsia;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-size: 40px;
}
p{
max-width: 450px; margin: 25px auto; font-size: 17px; line-height: 1.3;
}
#contact{
    background:lightpink;
color:white;
}
