body{
margin: 0;
padding-top: 800px;
}
img{
width: 200px;
    margin-top: 150px;
margin-bottom: 50px;
border-radius: 50%;    
}
.line{ 
height: 6px;
width:80px;
margin:8px auto;     
    
}
#welcome{
position: absolute;
    height: 800px;
    color:white;
display: table;
    width:100%;
    height: 100%;
background: linear-gradient(#5e65db 0%,#eb65ba 100%);
opacity:0.8;
  z-index:9;
  left:0;
  right:0;
  top:0;
  bottom:0;
    
}
.menu{
  list-style:none;
  z-index:10;
  position:absolute;
  top:10px;
  right:30px;
  cursor:pointer;
}
.link{
  float:left;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:10px;
  padding-left:10px;
    color:white;
  font-size:20px;
}
.link:hover{
  background-color:dodgerblue;
}
a{
    text-decoration: none;
}
.news{
    font-size: 20px;
}
.news:hover{
    color: fuchsia;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-size: 40px;
}
p{
max-width: 450px; margin: 25px auto; font-size: 17px; line-height: 1.3;
}
